body {
  min-height: 1100px;
  padding-top: 70px;
}

.basicFontStyle {
    font-family: Raleway;
}

#navFont {
    color: #F0C305;
}

#post {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}

#caption {
    font-size: 15px; 
    text-align: left;
}

#caption2 {
    font-size: 18px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px #F0C305 solid;
}

